<div th:fragment="content-list">
  <a class="btn btn-primary" th:href="@{/products/form-create}">Go to form</a>

  <table class="table">
    <head>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </head>

    <tbody th:each="product: ${products}">
      <tr>
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getPrice()}"></td>
      </tr>
    </tbody>
  </table>
</div>
